<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NOTIFICATION_POLICY_ACCESS_GRANTED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon55"
        android:label="LectureManager"
        android:roundIcon="@drawable/icon55"
        android:supportsRtl="true"
        android:theme="@style/Theme.LectureManager"
        tools:targetApi="32" >
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            tools:ignore="RedundantLabel" >
        </activity>
        <activity
            android:name=".ui.ui.WelcomePageActivity"
            android:exported="true"
            android:label="@string/app_name"
            tools:ignore="RedundantLabel" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.ui.ui.login.AppInfoActivity" />
        <activity android:name=".ui.Attendance.AttendanceDetailsActivity" />
        <activity android:name=".ui.ui.UsesActivity" />

        <receiver
            android:name=".ui.receiver.LectureResponseReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.example.lecturemanager.ACTION_ACCEPT" />
                <action android:name="com.example.lecturemanager.ACTION_DECLINE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>