<!--<manifest xmlns:android="http://schemas.android.com/apk/res/android"-->
<!--    xmlns:tools="http://schemas.android.com/tools">-->

<!--    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />-->
<!--    <uses-permission android:name="android.permission.INTERNET" />-->
<!--    <uses-permission android:name="android.permission.NOTIFICATION_POLICY_ACCESS_GRANTED" />-->


<!--    <application-->
<!--        android:allowBackup="true"-->
<!--        android:dataExtractionRules="@xml/data_extraction_rules"-->
<!--        android:fullBackupContent="@xml/backup_rules"-->
<!--        android:icon="@drawable/icon55"-->
<!--        android:label="@string/app_name"-->
<!--        android:roundIcon="@drawable/icon55"-->
<!--        android:supportsRtl="true"-->
<!--        android:theme="@style/Theme.LectureManager"-->
<!--        tools:targetApi="32">-->

<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:exported="true"-->
<!--            android:label="@string/app_name"-->
<!--            tools:ignore="RedundantLabel">-->

<!--        </activity>-->
<!--        <activity-->
<!--            android:name=".ui.ui.WelcomePageActivity"-->
<!--            android:exported="true"-->
<!--            android:label="@string/app_name"-->
<!--            tools:ignore="RedundantLabel">-->
<!--        <intent-filter>-->
<!--            <action android:name="android.intent.action.MAIN" />-->
<!--            <category android:name="android.intent.category.LAUNCHER" />-->
<!--        </intent-filter>-->
<!--        </activity>-->
<!--    </application>-->
<!--</manifest>-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
xmlns:tools="http://schemas.android.com/tools">

<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
<uses-permission android:name="android.permission.INTERNET" />
<uses-permission android:name="android.permission.NOTIFICATION_POLICY_ACCESS_GRANTED" />

<application
    android:allowBackup="true"
    android:dataExtractionRules="@xml/data_extraction_rules"
    android:fullBackupContent="@xml/backup_rules"
    android:icon="@drawable/icon55"
    android:label="@string/app_name"
    android:roundIcon="@drawable/icon55"
    android:supportsRtl="true"
    android:theme="@style/Theme.LectureManager"
    tools:targetApi="32">

    <activity
        android:name=".MainActivity"
        android:exported="true"
        android:label="@string/app_name"
        tools:ignore="RedundantLabel">
    </activity>
    <activity
        android:name=".ui.ui.WelcomePageActivity"
        android:exported="true"
        android:label="@string/app_name"
        tools:ignore="RedundantLabel">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <receiver android:name="com.example.lecturemanager.ui.receiver.LectureResponseReceiver" android:exported="true">
        <intent-filter>
            <action android:name="com.example.lecturemanager.ACTION_ACCEPT" />
            <action android:name="com.example.lecturemanager.ACTION_DECLINE" />
        </intent-filter>
    </receiver>
</application>
</manifest>

<!--<manifest xmlns:android="http://schemas.android.com/apk/res/android"-->
<!--xmlns:tools="http://schemas.android.com/tools">-->

<!--<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />-->
<!--<uses-permission android:name="android.permission.INTERNET" />-->
<!--<uses-permission android:name="android.permission.NOTIFICATION_POLICY_ACCESS_GRANTED" />-->


<!--<application-->
<!--    android:allowBackup="true"-->
<!--    android:dataExtractionRules="@xml/data_extraction_rules"-->
<!--    android:fullBackupContent="@xml/backup_rules"-->
<!--    android:icon="@drawable/icon55"-->
<!--    android:label="@string/app_name"-->
<!--    android:roundIcon="@drawable/icon55"-->
<!--    android:supportsRtl="true"-->
<!--    android:theme="@style/Theme.LectureManager"-->
<!--    tools:targetApi="32">-->

<!--    <activity-->
<!--        android:name=".MainActivity"-->
<!--        android:exported="true"-->
<!--        android:label="@string/app_name"-->
<!--        tools:ignore="RedundantLabel">-->
<!--    </activity>-->

<!--    <activity-->
<!--        android:name=".ui.ui.WelcomePageActivity"-->
<!--        android:exported="true"-->
<!--        android:label="@string/app_name"-->
<!--        tools:ignore="RedundantLabel">-->
<!--        <intent-filter>-->
<!--            <action android:name="android.intent.action.MAIN" />-->
<!--            <category android:name="android.intent.category.LAUNCHER" />-->
<!--        </intent-filter>-->
<!--    </activity>-->

<!--</application>-->
<!--</manifest>-->


<!--<manifest xmlns:android="http://schemas.android.com/apk/res/android"-->
<!--xmlns:tools="http://schemas.android.com/tools">-->

<!--<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />-->
<!--<uses-permission android:name="android.permission.INTERNET" />-->
<!--<uses-permission android:name="android.permission.NOTIFICATION_POLICY_ACCESS_GRANTED" />-->

<!--<application-->
<!--    android:allowBackup="true"-->
<!--    android:dataExtractionRules="@xml/data_extraction_rules"-->
<!--    android:fullBackupContent="@xml/backup_rules"-->
<!--    android:icon="@drawable/icon55"-->
<!--    android:label="@string/app_name"-->
<!--    android:roundIcon="@drawable/icon55"-->
<!--    android:supportsRtl="true"-->
<!--    android:theme="@style/Theme.LectureManager"-->
<!--    tools:targetApi="32">-->
<!--    <activity-->
<!--        android:name=".MainActivity"-->
<!--        android:exported="true"-->
<!--        android:label="@string/app_name"-->
<!--        tools:ignore="RedundantLabel">-->
<!--    </activity>-->
<!--    <activity-->
<!--        android:name=".ui.ui.WelcomePageActivity"-->
<!--        android:exported="true"-->
<!--        android:label="@string/app_name"-->
<!--        tools:ignore="RedundantLabel">-->
<!--        <intent-filter>-->
<!--            <action android:name="android.intent.action.MAIN" />-->
<!--            <category android:name="android.intent.category.LAUNCHER" />-->
<!--        </intent-filter>-->
<!--    </activity>-->
<!--    &lt;!&ndash; Register the BroadcastReceiver &ndash;&gt;-->
<!--    <receiver android:name=".l">-->
<!--        <intent-filter>-->
<!--            <action android:name="com.example.lecturemanager.ACCEPT"/>-->
<!--            <action android:name="com.example.lecturemanager.DECLINE"/>-->
<!--        </intent-filter>-->
<!--    </receiver>-->
<!--</application>-->
<!--</manifest>-->
<!--<manifest xmlns:android="http://schemas.android.com/apk/res/android"-->
<!--xmlns:tools="http://schemas.android.com/tools">-->

<!--<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />-->
<!--<uses-permission android:name="android.permission.INTERNET" />-->
<!--<uses-permission android:name="android.permission.NOTIFICATION_POLICY_ACCESS_GRANTED" />-->

<!--<application-->
<!--    android:allowBackup="true"-->
<!--    android:dataExtractionRules="@xml/data_extraction_rules"-->
<!--    android:fullBackupContent="@xml/backup_rules"-->
<!--    android:icon="@drawable/icon55"-->
<!--    android:label="@string/app_name"-->
<!--    android:roundIcon="@drawable/icon55"-->
<!--    android:supportsRtl="true"-->
<!--    android:theme="@style/Theme.LectureManager"-->
<!--    tools:targetApi="32">-->
<!--    <activity-->
<!--        android:name=".MainActivity"-->
<!--        android:exported="true"-->
<!--        android:label="@string/app_name"-->
<!--        tools:ignore="RedundantLabel">-->
<!--    </activity>-->
<!--    <activity-->
<!--        android:name=".ui.ui.WelcomePageActivity"-->
<!--        android:exported="true"-->
<!--        android:label="@string/app_name"-->
<!--        tools:ignore="RedundantLabel">-->
<!--        <intent-filter>-->
<!--            <action android:name="android.intent.action.MAIN" />-->
<!--            <category android:name="android.intent.category.LAUNCHER" />-->
<!--        </intent-filter>-->
<!--    </activity>-->
<!--    &lt;!&ndash; Register the BroadcastReceiver &ndash;&gt;-->
<!--    <receiver-->
<!--        android:name=".LectureResponseReceiver"-->
<!--        android:exported="true">-->
<!--        <intent-filter>-->
<!--            <action android:name="com.example.lecturemanager.ACCEPT"/>-->
<!--            <action android:name="com.example.lecturemanager.DECLINE"/>-->
<!--        </intent-filter>-->
<!--    </receiver>-->
<!--</application>-->
<!--</manifest>-->

<!--<manifest xmlns:android="http://schemas.android.com/apk/res/android"-->
<!--xmlns:tools="http://schemas.android.com/tools">-->

<!--<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />-->
<!--<uses-permission android:name="android.permission.INTERNET" />-->
<!--<uses-permission android:name="android.permission.NOTIFICATION_POLICY_ACCESS_GRANTED" />-->

<!--<application-->
<!--    android:allowBackup="true"-->
<!--    android:dataExtractionRules="@xml/data_extraction_rules"-->
<!--    android:fullBackupContent="@xml/backup_rules"-->
<!--    android:icon="@drawable/icon55"-->
<!--    android:label="@string/app_name"-->
<!--    android:roundIcon="@drawable/icon55"-->
<!--    android:supportsRtl="true"-->
<!--    android:theme="@style/Theme.LectureManager"-->
<!--    tools:targetApi="32">-->
<!--    <activity-->
<!--        android:name=".MainActivity"-->
<!--        android:exported="true"-->
<!--        android:label="@string/app_name"-->
<!--        tools:ignore="RedundantLabel">-->
<!--    </activity>-->
<!--    <activity-->
<!--        android:name=".ui.ui.WelcomePageActivity"-->
<!--        android:exported="true"-->
<!--        android:label="@string/app_name"-->
<!--        tools:ignore="RedundantLabel">-->
<!--        <intent-filter>-->
<!--            <action android:name="android.intent.action.MAIN" />-->
<!--            <category android:name="android.intent.category.LAUNCHER" />-->
<!--        </intent-filter>-->
<!--    </activity>-->
<!--    &lt;!&ndash; Register the BroadcastReceiver &ndash;&gt;-->
<!--    <receiver-->
<!--        android:name=".receivers.LectureResponseReceiver"-->
<!--        android:exported="true">-->
<!--        <intent-filter>-->
<!--            <action android:name="com.example.lecturemanager.ACCEPT"/>-->
<!--            <action android:name="com.example.lecturemanager.DECLINE"/>-->
<!--        </intent-filter>-->
<!--    </receiver>-->
<!--</application>-->
<!--</manifest>-->
